nav{
    background: black;
    width: 600px;
    margin: -8px auto auto auto;
    height: 60px;
    border-radius: 0 0 25px 25px;
}

body{
    background-repeat: repeat;
}

.nav{
    background: none;
    color: white;
    height: 60px;
    width: auto;
    border: 0;
    font-size: larger;
}

nav li{
    float: left;
    margin: auto auto auto 125px;
}

.nav:hover{
    border-bottom: 2px solid white;
}

.active{
    font-style: italic;
    color: rgb(0, 179, 255);
}